@model EventViewModel

<h2 class="text-center">Create new event</h2>

@using (Html.BeginForm("Create", "Events", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", style = "padding: 15px 130px" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group" style="margin: 10px 0;">
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>

    @(Html.Kendo().EditorFor(m => m.Description)
      .HtmlAttributes(new { style = "height:440px" })
    )
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

    <div class="form-group" style="margin: 10px 0;">
        <input class="form-control input-validation-error" 
               id="Photo"
               type="file" 
               name="upload" 
               style="background-color: #4C90B7"
               data-val="true"
               data-val-required="The Photo is required." />

        <span class="text-danger field-validation-error"
              data-valmsg-for="Photo"
              data-valmsg-replace="true">
            <span id="Photo-error" class="">The Photo is required.</span>
        </span>
    </div>

    <hr />

    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Create" style="background-color: #4C90B7; border-color: #4C90B7" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}