@model PostByIdViewModel

<article class="card feed">
    <div class="card-content intro">
        <div class="profile-image">
            <img src="~/File/@Model.PostViewModel.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="avatar" />
        </div>
        <div class="feed-info">
            <div class="user-name"><a href="~/Profile/@Model.PostViewModel.Creator.Id">@Model.PostViewModel.Creator.FirstName @Model.PostViewModel.Creator.LastName</a></div>
            <div>
                <i class="material-icons">date_range</i>
                <span class="feed-date"> @Model.PostViewModel.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </div>
        </div>
        <p>
            <i class="material-icons" style="font-size: 30px; color: red;">favorite</i>
            <span class="likesCount-@Model.PostViewModel.Id">@Model.PostViewModel.Likes</span>
        </p>
            
        <div class="clear"></div>
    </div>

    <div class="card-content">
        <p>@Model.PostViewModel.Title</p>
    </div>

    <div class="card-image">
        <img src="~/File/@Model.PostViewModel.Photo.Id" alt="photo" />
    </div>

    <div class="card-action">
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "createCommentForm", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input name="PostId" type="hidden" value="@Model.PostViewModel.Id">

            <div class="row">
                <div class="col l2" style="padding-left: 22px;">
                    @if (this.Request.IsAuthenticated)
                    {
                        if (Model.PostLikedByCurrentUser)
                        {
                            <span data-id="@Model.PostViewModel.Id" data-action="like" style="display: none;"><i data-position="top" data-delay="50" data-tooltip="Like" class="material-icons tooltipped" style="font-size: 40px; color: red;">favorite_border</i></span>
                            <span data-id="@Model.PostViewModel.Id" data-action="unlike"><i data-position="top" data-delay="50" data-tooltip="Unlike" class="material-icons tooltipped" style="font-size: 40px; color: red;">favorite</i></span>
                        }
                        else
                        {
                            <span data-id="@Model.PostViewModel.Id" data-action="unlike" style="display: none;"><i data-position="top" data-delay="50" data-tooltip="Unlike" class="material-icons tooltipped" style="font-size: 40px; color: red;">favorite</i></span>
                            <span data-id="@Model.PostViewModel.Id" data-action="like"><i data-position="top" data-delay="50" data-tooltip="Like" class="material-icons tooltipped" style="font-size: 40px; color: red;">favorite_border</i></span>
                        }
                    }
                </div>
                <div class="input-field col l10" style="margin-top: -10px;">
                    <input class="form-control" data-val="true" data-val-required="The Content field is required." id="Content" name="Content" placeholder="Comment" type="text" value="">
                    <button type="submit" class="hide"></button>
                </div>
            </div>
        }
    </div>

    @{ Html.RenderAction("ByPost", "Comments", new { id = Model.PostViewModel.Id }); }
</article>