@model IEnumerable<PostViewModel>

@foreach (var post in Model)
{
    <div class="col s12 m12 l4 post">
        <!-- Info Post Modal -->
        <div id="postInfoModal-@post.Id" class="modal custom-modal">
            <div class="modal-content">
                @{ Html.RenderAction("ById", "Posts", new { id = post.Id }); }
            </div>
        </div>

        <article class="card feed hoverable">
            <div class="card-content intro">
                <div class="profile-image">
                    <img src="~/File/@post.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="avatar" />
                </div>
                <div class="feed-info">
                    <div class="user-name"><a href="~/Profile/@post.Creator.Id">@post.Creator.FirstName @post.Creator.LastName</a></div>
                    <div class="left">
                        <i class="material-icons">date_range</i>
                    </div>
                    <div>
                        <span class="feed-date"> @post.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="card-content">
                <p>@post.Title</p>
            </div>

            <div class="card-image">
                <a class="modal-trigger" href='#postInfoModal-@post.Id'>
                    <img src="~/File/@post.Photo.Id" alt="photo" />
                </a>
            </div>

            <div class="card-action" style="color: #4fc3f7">
                <i class="material-icons" style="font-size: 24px; vertical-align: middle;">favorite</i>
                <span class="likesCount-@post.Id" style="font-size: 18px;">@post.Likes</span>
                <i class="material-icons" style="font-size: 24px; vertical-align: middle; margin-left: 20px;">chat_bubble</i>
                <span class="commentsCount-@post.Id" style="font-size: 18px;">@post.CommentsCount</span>
            </div>
        </article>
    </div>
}
