@model ProfileViewModel

<div class="parallax-container profile">
    <div class="parallax"><img src="~/Content/Images/cover5.jpg"></div>
</div>

<div id="profile-info">
    <div class="container">
        <div class="row">
            <div class="col m3 s12">
                <img class="profile-image z-depth-1" src="~/File/@Model.Files.First(x => x.FileType == FileType.Avatar).Id" />
            </div>
            <div class="col m9 s12">
                <article class="profile-data">
                    <div class="name">@Model.FirstName @Model.LastName</div>
                    <div class="row">
                        <div class="col m9 s12">
                            <div class="profile-scores">
                                <div class="row">
                                    <div class="col s4">
                                        <span class="heavy">@Model.PostsCount</span> posts
                                    </div>
                                    <div class="col s4">
                                        <span class="heavy">@Model.Followers.Count</span> followers
                                    </div>
                                    <div class="col s4">
                                        <span class="heavy">@Model.Following.Count</span> following
                                    </div>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </p>
                        </div>
                        <div class="col m3 s12">
                            <div class="profile-actions">
                                @if (Model.Id == HttpContext.Current.User.Identity.GetUserId()) // If current user is the profile`s user
                                {
                                    <a class="waves-effect waves-grey btn-flat grey lighten-4">edit</a>
                                }
                                else
                                {
                                    if (Model.Followers.Any(x => x.Id == HttpContext.Current.User.Identity.GetUserId())) // If current user follows the profile`s user
                                    {
                                        @Html.ActionLink("Unfollow", "Unfollow", "Follows", new { id = Model.Id }, new { id = "unfollowLink", @class = "waves-effect waves-grey btn-flat grey lighten-4" });
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Follow", "Follow", "Follows", new { id = Model.Id }, new { id = "followLink", @class = "waves-effect waves-grey btn-flat grey lighten-4" });
                                    }
                                }

                                <a class="waves-effect waves-grey btn-flat grey lighten-4 discover">discover</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<section id="profile-content">
    <div id="profile-content-tabs" class="tabs-menu z-depth-1">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs" style="width: 101%;">
                        <li class="tab"><a href="#posts">posts</a></li>
                        <li class="tab"><a href="#followers">followers</a></li>
                        <li class="tab"><a href="#following">following</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="profile-content-wrapper" class="tabs-content">
        <div class="container">
            <div class="row">
                <div id="posts">
                    @{ Html.RenderAction("ByUserId", "Posts", new { userId = Model.Id }); }
                    <div style="height: 406px;"></div>
                </div>
                <div id="followers">
                    @{ Html.RenderAction("Followers", "Follows"); }
                    <div style="height: 406px;"></div>
                </div>
                <div id="following">
                    @{ Html.RenderAction("Following", "Follows"); }
                    <div style="height: 406px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
